meshes/
site/node_modules
build/
dist/
biomechanics_net.egg-info/
.vscode/
.mypy_cache/
__pycache__
test_dataset.db
TODO

server/data/cmu_dataset/*
server/data/cycling_dataset/*
server/data/balance_dataset/*
server/data/myer_dataset/*
server/data/hamstrings_dataset/*
server/data/multimodal_walking_dataset/*
server/data/parameter_estimation_dataset/*
server/data/running_leuven1_dataset/*
server/data/running_leuven2_dataset/*
server/data/inclined_walking_dataset/*
server/data/toeheel_walking_dataset/*
server/data/pitching_dataset/*
server/data/karate_dataset/*
server/data/perturbed_walking_dataset/*